<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Gestion des produits</title>
</head>
<body>
<div th:fragment="content">
    <h1>Liste des produits</h1>

    <div class="d-flex flex-row-reverse mb-3">
        <a href="#" th:href="@{/admin/product/create}" class="btn btn-primary">
            <i class="ri-add-circle-line"></i>
        </a>
    </div>

    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="object: ${objects}" th:object="${object}">
            <td th:text="*{name}">Produit 1</td>
            <td class="text-end">
                <a href="#" th:href="@{/admin/product/update/{id}(id=*{uuid})}" class="btn btn-primary">
                    <i class="ri-edit-line"></i>
                </a>
                <form method="post" th:action="@{/admin/product/remove/{id}(id=*{uuid})}" class="d-inline">
                    <button class="btn btn-primary" type="submit">
                        <i class="ri-delete-bin-line"></i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
