<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Accueil</title>
</head>
<body>
<div th:fragment="content">
    <h1>
        Produits de la catégorie : [[ ${category.name} ]]
    </h1>

    <div class="row row-cols-2 row-cols-md-4">
        <div class="col mb-4" th:each="product: ${products}">
            <div class="card">
                <img th:if="${product.pictureType} != null" th:src="@{/product/{uuid}/picture(uuid = ${product.uuid})}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.name}">Card title</h5>
                    <p class="card-text" th:text="${product.description}">Description</p>
                </div>
                <div class="card-footer">
                    <span th:text="${ #numbers.formatDecimal((0.0 + product.price) / 1000, 0, 2) }">12.50</span>€
                    <button class="btn btn-primary" th:attr="uuid=${product.uuid}" onclick="addProduct(this.getAttribute('uuid'))">Ajouter</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
