<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:fragment="title">Création d'un compte</title>
</head>
<body>
<div th:fragment="content">
  <h1>Création d'un compte</h1>

  <form action="#" th:action="@{/register}" method="post" th:object="${form}">
    <div class="mb-3">
      <input th:field="*{username}" class="form-control form-control-lg" type="text" placeholder="Email"
             th:classappend="${not #lists.isEmpty(#fields.errors('username'))} ? is-invalid">
      <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />
    </div>
    <div class="mb-3">
      <input th:field="*{firstname}" class="form-control form-control-lg" type="text" placeholder="Prénom"
             th:classappend="${not #lists.isEmpty(#fields.errors('firstname'))} ? is-invalid">
      <div class="invalid-feedback" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" />
    </div>
    <div class="mb-3">
      <input th:field="*{name}" class="form-control form-control-lg" type="text" placeholder="Nom"
             th:classappend="${not #lists.isEmpty(#fields.errors('name'))} ? is-invalid">
      <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" />
    </div>

    <div class="mb-3">
      <input th:field="*{password}" class="form-control form-control-lg" type="password" placeholder="Mot de passe" autocomplete="false"
             th:classappend="${not #lists.isEmpty(#fields.errors('password'))} ? is-invalid">
      <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />
    </div>

    <button type="submit" class="btn btn-primary">Créer</button>
  </form>
</div>
</body>
</html>
