<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Gestion des catégories</title>
</head>
<body>
<div th:fragment="content">
    <h1>Liste des catégories</h1>

    <div th:if="${message}" th:text="${message}" class="alert alert-danger">Message d'erreur</div>

    <div class="d-flex flex-row-reverse mb-3">
        <a href="#" th:href="@{/admin/category/create}" class="btn btn-primary">
            <i class="ri-add-circle-line"></i>
        </a>
    </div>

    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="object: ${objects}" th:object="${object}">
            <td th:text="*{name}">Catégorie 1</td>
            <td class="text-end">
                <a href="#" th:href="@{/admin/category/update/{id}(id=*{uuid})}" class="btn btn-primary">
                    <i class="ri-edit-line"></i>
                </a>

                <form method="post" th:action="@{/admin/category/remove/{id}(id=*{uuid})}" class="d-inline">
                    <button class="btn btn-primary" type="submit" title="Supprime la catégorie si elle est vide">
                        <i class="ri-delete-bin-line"></i>
                    </button>
                </form>

                <form method="post" th:action="@{/admin/category/remove/{id}(id=*{uuid}, force=true)}" class="d-inline">
                    <button class="btn btn-primary" type="submit" title="Supprime la catégorie et les produits">
                        <i class="ri-delete-bin-3-line"></i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
